################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Gatlin.NugetServer/.vs/Gatlin.NugetServer
/Gatlin.NugetServer/packages
/Gatlin.NugetServer/Thomerson.Gatlin.NugetServer/bin
/Gatlin.NugetServer/Thomerson.Gatlin.NugetServer/obj/Debug
/Gatlin.NugetServer/Thomerson.Gatlin.NugetServer/obj/Release
